<%= turbo_frame_tag "group_#{@group.id}_post_#{@post.id}" do %>
  <div class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-between py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
       <p><%= @post.title %></p>
    </div>
  </div>
<% end %>
