<%= render Comments::PostComponent.new(post: @post) %>
<div class="mt-4 block p-6 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <%= render Comments::FormComponent.new(comment: @comment) %>
</div>
<div class="mt-4">
  <%= render Comments::ListComponent.new(group: @group, post: @post, comments: @comments) %>
</div>
