<nav class="bg-white px-2 py-2.5 w-full z-20 top-0 left-0 border-b border-gray-200">
  <div class="container flex justify-between items-center mx-auto">
    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Community Platform</span>
    <a href="<%= root_path %>" class="<%= @active_link == Header::LINK_GROUP ? "text-blue-700" : "text-gray-700" %>">Groups</a>
    <%= button_to "Logout", destroy_user_session_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800", method: :delete, form: { data: { turbo_confirm: 'Are you sure?', turbo: false } } %>
  </div>
</nav>
