<% if flash[:notice].present? %>
  <div class="flex justify-center mt-1 p-4 text-green-700 border rounded border-green-900/10 bg-green-50" role="alert">
    <strong class="text-sm font-medium"> <%= flash[:notice] %> </strong>
  </div>
<% end %>
<% if flash[:alert].present? %>
  <div class="flex justify-center mt-1 p-4 text-red-700 border rounded border-red-900/10 bg-red-50" role="alert">
    <strong class="text-sm font-medium"> <%= flash[:alert] %> </strong>
  </div>
<% end %>
