<%= turbo_frame_tag @group do %>
  <div class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
    <div class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= @group&.name %>
    </div>
    <!--<td class="py-4 px-6 text-right">
      <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
    </td>-->
  </div>
<% end %>
