<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
  <div class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <div id="groups_list_items_body">
    <% @groups.each do |group| %>
      <%= render Groups::ListItemComponent.new(group: group) %>
    <% end %>
    </div>
  </div>
</div>
