<div class="flex">
  <aside class="w-64 right-0" aria-label="Sidebar">
    <div class="max overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800">
      <%= render Posts::MemeberListComponent.new(group: @group, members: @members) %>
    </div>
    <div class="mt-4 max overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800">
      <%= render Posts::PendingListComponent.new(group: @group, members: @pending_members) %>
    </div>
  </aside>
  <div class="w-full ml-8 mr-8">
    <%= render Posts::FormComponent.new(post: @post) %>
    <div class="mt-2 mb-2">
      <%= render Posts::ListComponent.new(group: @group, posts: @posts) %>
    </div>
  </div>
</div>
